{% extends "helpers/layout.html" %} {% block title %} Quillio Signup {% endblock %} {% block navbar %}
<nav style="height:50px" class="navbar navbar-expand-lg navbar-dark unique-color-dark"></nav>
{% endblock %}{% block content %}
<div style="max-width:800px; margin:0 auto" class="container">
    <form>
        <br>
        <div class="text-center">
            <img style="max-width:400px; height:auto" src="/../static/img/logo/quillioBlack.png">
            <div class="md-form">
                <input type="text" id="name" name="name" class="form-control" value="{{ request.form.name }}" required>
                <label for="name">First and Last Name</label>
            </div>
            <div class="md-form">
                <input type="email" id="email" name="email" class="form-control" value="{{ request.form.email }}" required>
                <label for="email">Email Address</label>
            </div>
            <div class="md-form">
                <input type="password" id="password" name="password" class="form-control" value="{{ request.form.password }}" required><br>
                <label for="password">Password</label>
            </div>
            <div class="md-form">
                <button type="submit" class="btn btn-unique" formmethod="post">Create Account</button>
            </div>
            <a href="/auth/login">Already have an account? Log In Here!</a>
        </div>
    </form>
</div>
{% endblock %}