{% extends "helpers/layout.html" %} {% block title %}Create a Meeting{% endblock %}{% block navbar %}
<nav style="height:50px" class="navbar navbar-expand-lg navbar-dark unique-color-dark"></nav>
{% endblock %}{% block content %}

<div style="max-width:800px; margin:0 auto;" class="container">
    <form>
        <br>
        <div class="text-center">
            <div class="md-form">
                <input type="text" id="name" class="form-control" value="{{ request.form.name }}" required>
                <label for="name">Meeting Name</label>
            </div>
            <div class="md-form">
                <input type="email" id="email" class="form-control" value="{{ request.form.emails }}" multiple required>
                <label for="email">Invite Users by Email</label>
            </div>
            
            <div class="md-form">
                <button type="submit" class="btn btn-unique" formmethod="post">Create Meeting</button>
            </div>

        </div>
    </form>
</div>