/* YOUR CUSTOM STYLES */
.quickPledgeBlock {
	margin-top: 20px;
	margin-bottom: 100px;
}

.quickPledgeItem {
    margin-bottom: 0px !important;
    margin-top: 0px;
}

.quickPledgeItem:after {
    border-bottom: 0.5px solid #dedede;
    content: '';
    display: block;
    width: 90%;
    margin-left: 5%;
}

.quickPledgeSubItem {
    margin-bottom: 5px !important;
    margin-top: 5px;
}

.card-img-left {
  border-bottom-left-radius: calc(.25rem - 1px);
  border-top-left-radius: calc(.25rem - 1px);
  float: left;
  padding-right: 1em;
  margin-bottom: -1.25em;
}

.payee_image_nav {
    max-width: 110px;
    max-height: 60px;
    width: auto;
    height: auto;
}

.image_card {
    width: 110px;
    height: auto;
}


.dashboard-image{
    float:left;
    max-width: 200px;
    height: auto;
}

.card_anchor {
	position: absolute;
	top: 0; 
	left: 0;
	height: 100%; 
	width: 100%;
}

.card_anchor:hover {
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);	
}

.noMargin {
    margin-bottom: 0px;
}

.text-purple {
    color: purple;
}

.inputLabel {
    width:100%;
    text-align:left;
}

.inputCustom {
    padding-bottom: 5px;
}

.popupCard {
    margin-top: 5px;
    margin-bottom: 10px;
}

.sectionHeading {
    margin-top: 20px;
    margin-bottom: 0px !important;
    color: #9F73C7;
    font-weight: 400;
}

.sectionNoInput {
    padding-bottom: 15px;
}

.left-box {
    border-width: 1px;
    border-style: ridge;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.right-box {
    border-width: 1px;
    border-style: ridge;
    border-right: none;
    border-top: none;
    border-bottom: none;
}


.right-info-box {
    border: 0.5px;
    border-color: #ddd;
    border-style: solid;
    box-shadow: none;
    margin-bottom: 20px;
}

/* Center the loader */
#wait {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 75px;
    height: 75px;
    margin: -75px 0 0 -75px;
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #F8E71C;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

.dropdown-content li > span {
    color: black;
}

[type="radio"]:checked + label:after {
  border: 2px solid #aa66cc;
  background-color: #aa66cc;
}

.signUpAccountLogo {
    max-width:100px;
    max-height:100px;
    height:auto;
    width:auto;
}

.accountCoverImage {
    max-width:200px;
    max-height:100px;
    height:auto;
    width:auto;
}

.accountLogo {
    max-width:100px;
    max-height:100px;
    height:auto;
    width:auto;
}

.campaignCoverImage {
    max-width:100px;
    max-height:50px;
    height:auto;
    width:auto;
}

.popupContainer {
    background-color:white;
    padding-right: 0px;
    padding-left: 0px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}

.borderless td, .borderless th {
    border: none;
}

.transferSummary {
    border-right: 1px solid black;
    height: 50px;
}

.column-vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.preset-option {
    display: flex;
    align-items: center;
    border-bottom: solid;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-width: 1px;
    border-color: #eee;
    padding-left: 15px;
}

.preset-count-label {
    border-radius: 25px;
    border: #3d799c;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    background-color: #ffffff;
}

.v-align-column {
    display: flex;
    align-items: center;
}

.pujaSettings {
    padding: 0px 50px 0px 50px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #eee;
}

.input-alternate.has-error {
    box-shadow: 0 3px 8px 0 red, 0 0 0 1px red !important;
    border-bottom: 0;
}

.campaign-list-image {
    width:230px;
    height:auto;
}

.campaign-list-qrcode {
    background-color: #eceeef;
    padding-top: 5px;
}

.campaign-list-td {
    border-bottom: #eceeef 1px solid;
}

.signup-wizard-header {
    background-color: #9ec0c7;
}


.hp-section-heading {
    padding-top:20px;
    padding-bottom: 20px;
    animation-name: fadeIn;
    animation-delay: 0.2s;
}

.hp-faq-heading {
    color:#f48e5c;
}

.pp-qrcode-url {

}

.pp-qrcode-url:before {
    border-top: 0.5px solid #a4a4a4;
    content: '';
    display: block;
    width: 70%;
    margin-left: 15%;
}


.download-qrcode-url {

}

.download-qrcode-url:before {
    border-top: 0.5px solid #a4a4a4;
    content: '';
    display: block;
    width: 100%;
    margin-left: 0%;
}

.side-nav .collapsible a {
  font-weight: 300;
  font-size: 0.9rem;
  height: 45px;
  line-height: 45px;
}

.side-nav a {
    font-size: 1rem;
    height: 56px;
    line-height: 56px;
}

.side-nav .collapsible-body a {
    background-color: rgba(0, 0, 0, 0.0);
}


.side-nav-background {
    /*background-image: url(http://mdbootstrap.com/img/Photos/Others/sidenav1.jpg);*/
    background:linear-gradient(rgba(49, 133, 148, 0.8), rgba(49, 133, 148, 0.8)), url(../images/sidenav1.jpg)
}

side-nav-sub-item-background {
    background-color: rgba(0,0,0,0);
}

.picker__header select {
    display: inline-block !important;
}

.card-body h4 {
    font-weight: 300;
}

.card .card-body h4 {
    font-weight: 300;
}