{% extends"helpers/landing_page.html" %} {% block title %} {{ group.name }}{% endblock %}
{% block landing_content %}
{% for meeting_row in group.meetings | batch(3) %}
<div class="container">
    <br>
    <div class="row">
        {% for meeting in meeting_row %}
        <div class="card col-md-4">
            <div class=" view overlay hm-white-slight">
                <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>

            {% if meeting.status() == 2 %}
            <a href="edit/{{ meeting.id }}" style="background-color:#696773" class="btn-floating btn-action">
                <i class="fa fa-chevron-right"></i>
            </a>
            {% else %}

            <a href="/meeting/{{ meeting.id }}" style="background-color:#06D6A0" class="btn-floating btn-action">
                <i class="fa fa-chevron-right"></i>
            </a>
            {% endif %}

            <div class="card-body">
                <h4 class="card-title">{{ meeting.name }}</h4>
                <hr>
                <p class="card-text"> {{ meeting.description }} </p>
            </div>
            <div class="card-data flex-center">
                <ul>
                    <li>
                        <i class="fa fa-clock-o"></i> {{ meeting.created_at_str }}</li>
                    <li>
                        <a href="#">
                            <i class="fa fa-users"> </i>{{ meeting.members|length }}</a>
                    </li>
                    <!-- Add Edit Meeting Option if Current user is the owner of the Meeting -->
                    {% if current_user.id == meeting.owner.id %}
                    <li>
                        <a data-toggle="modal" data-target="#editMeetingForm" id="{{ meeting.id }}" onclick="setMeeting('{{ meeting.id }}', '{{ meeting.name }}')">
                            Edit
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}
{% block sidebar_content %}
<div class="container">
    <div class="accordion" id="" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header quillioColor" role="tab" id="headingOne">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <h5 class="white-text">
                        {{ group.name }}
                        <i class="fa fa-angle-down rotate-icon"></i>
                    </h5>
                </a>
            </div>
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                    {% for member in group.members %} {{ member.name }} {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header quillioColor" role="tab" id="headingTwo">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h5 class="white-text">
                        Meeting Date<i class="fa fa-angle-down rotate-icon"></i>
                    </h5>
                </a>
            </div>
            <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-body">
                    random date
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js_import %}
<!-- script for sidenav collapse -->
<script>
    $(".button-collapse").sideNav();
</script>
<!-- \script for sidenav collapse -->
{% endblock %}
