{% extends "helpers/dashboard.html" %} {% block title %} Quillio Groups {% endblock %} {% block main %}
<h3 class="text-center">Groups</h3>
{% for group_row in groups | batch(3) %}
<div class="container-fluid">
    <br>
    <div class="row">
        {% for group in group_row %}
        <div class="card col-md-4">
            <div class="view overlay hm-white-slight">
                <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <a class="btn-floating btn-action"><i class="fa fa-chevron-right"></i></a>
            <div class="card-body">
                <h4 class="card-title"> {{ group.name }}</h4>
                <hr>
                <p class="card-text">{{ group.description }}</p>
            </div>
            <div class="card-data">
                <ul>
                    <li><i class="fa fa-clock-o"></i> 05/10/2015</li>
                    <li><a href="#"><i class="fa fa-comments-o"></i>12</a></li>
                    <li><a href="#"><i class="fa fa-users"> </i>21</a></li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>{% endfor %}
</div>
<a class="btn-floating btn-lg unique" style="position: fixed; right:35px; bottom:35px;" data-toggle="modal" data-target="#createGroupForm"><i class="fa fa-plus"></i></a>
<!--Modal: Contact form-->
<div class="modal fade" id="createGroupForm" tabindex="-1" role="dialog" aria-labelledby="createGroupForm" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-pencil"></i>Create Group</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <!--Body-->
            <form>
                <div class="modal-body mb-0">
                    <div class="md-form form-sm">
                        <input type="text" id="name" name="name" value="{{ request.form.name }}" class="form-control" required>
                        <label for="name"> Group Name </label>
                    </div>

                    <div class="md-form form-sm">
                        <input type="text" id="emails" name="emails" value="{{ request.form.emails }}" class="form-control" required>
                        <label for="emails"> Member Emails </label>
                    </div>

                    <div class="md-form form-sm">
                        <input type="text" id="description" name="description" value="{{ request.form.description }}" class="form-control">
                        <label for="description"> Description </label>
                    </div>

                    <div class="text-center mt-1-half">
                        <button id="groupCreateButton" type="submit" class="btn btn-info mdb-2" formmethod="post"> Create <i class="fa fa-send ml-1"></i></button>
                    </div>

                    <!-- <div class="text-center mt-1-half"> -->
                    <!-- <button class="btn btn-info mb-2"> Create <i class="fa fa-send ml-1"></i></button> -->
                    <!-- </div> -->

                    <!-- <div class="text-center mt-1-half"> -->
                    <!-- <button id="meetingCreateButton" type="submit" class="btn btn-info mdb-2" formmethod="post"> Create <i class="fa fa-send ml-1"></i></button> -->
                    <!-- </div> -->

                    <!-- <div class="md-form form-sm"> -->
                    <!-- <textarea type="text" id="form8" class="md-textarea mb-0"></textarea> -->
                    <!-- <label for="form8">Description</label> -->
                    <!-- </div> -->


                </div>
            </form>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Contact form-->
{% endblock %} {% block js_import %}
<script type="text/javascript" src="/static/js/quillio.js"></script>
<script>
    $('.chips-placeholder#form20').material_chip({
        placeholder: 'Add Members',
        secondaryPlaceholder: '+Member Emails',
    });
    $('.chips-placeholder#form21').material_chip({
        placeholder: 'Add Admins',
        secondaryPlaceholder: '+Admin Emails',
    });
</script>
<script>
    $(".button-collapse").sideNav();
</script>
{% endblock %}