{% extends "helpers/layout.html" %}
{% block title %} Quillio Groups {% endblock %}

{% block nav_links %}
<li class="nav-item active">
    <a class="nav-link" href="/groups"> Groups <span class="sr-only">(current)</span></a>
  <a class="nav-link" href="/auth/logout"> Logout <span class="sr-only">(current)</span></a>
</li>
{% endblock %}

{% block content %}
<div class="container">
<br>
<div class="row">
    {% for group in groups %}
        <div class="col-lg-4 col-md-6">
            <div class="card">

                <!--Card image-->
                <img class="img-fluid" src="https://maxcdn.icons8.com/Share/icon/Users//groups1600.png" alt="Card image cap">

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">{{ group.name }}</h4>
                    <!--Text-->
                    <p class="card-text">This is a group.</p>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>

            </div>
        </div>
    {% endfor %}
    <a class="btn-floating btn-lg black" style="position: fixed; right:35px; bottom:35px;"><i class="fa fa-plus"></i></a>
</div>
</div>
{% endblock %}