{% extends"helpers/dashboard.html" %} {% block title %} Quillio Meetings {% endblock %} {% block main %}


<h3 class="text-center">Meetings</h3>

<!-- Search Bar -->
<div class="container flex-center text-center">
    <div class="col"></div>
    <div class="col-sm-6">
        <form>
            <input class="form-control w-100" name="criteria" type="text" placeholder="Search" value="{{ request.form.criteria }}">
            <button type="submit" class="btn btn-default" name="submit" value="search" formmethod="post"> Search </button>
        </form>
    </div>
    <div class="col"></div>
</div>
<!-- Search Bar -->

{% for meeting_row in meetings | batch(3) %}
<div class="container">
    <br>
    <div class="row">
        {% for meeting in meeting_row %}
        <div class="card col-md-4">
            <div class=" view overlay hm-white-slight">
                <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <a class="btn-floating btn-action" id="{{ meeting.id }}" onclick="meeting_modal_show(this)"><i class="fa fa-chevron-right"></i></a>
            <div class="card-body">
                <h4 class="card-title"> {{ meeting.name }}</h4>
                <hr>
                <p class="card-text">{{ meeting.description }}</p>
            </div>
            <div class="card-data flex-center">
                <ul>
                    <li><i class="fa fa-clock-o"></i> {{ meeting.created_atString }}</li>
                    <li><a href="#"><i class="fa fa-users"> </i>{{ meeting.members|length }}</a></li>
                    {% if current_user.id == meeting.owner.id %}
                    <li><a data-toggle="modal" data-target="#editMeetingForm" id="{{ meeting.id }}" onclick="set_meeting('{{ meeting.id }}', '{{ meeting.name }}')"> edit </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>{% endfor %}
</div>
<a class="btn-floating btn-lg pkColor" style="position: fixed; right:35px; bottom:35px;" data-toggle="modal" data-target="#createMeetingForm"><i class="fa fa-plus"></i></a>
<!--Modal: Contact form-->
<div class="modal fade" id="createMeetingForm" tabindex="-1" role="dialog" aria-labelledby="createMeetingForm" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header darken-3 white-text" style="background-color: #45526E">
                <h4 class=" title"><i class="fa fa-pencil"></i>Create Meeting</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <!--Body-->
            <form>
                <div class="modal-body mb-0">
                    <div class="md-form form-sm">
                        <input type="text" id="name" name="name" value="{{ request.form.name }}" class="form-control" required>
                        <label for="name"> Meeting Name </label>
                    </div>

                    <div class="md-form form-sm">
                        <input type="text" id="emails" name="emails" value="{{ request.form.emails }}" class="form-control" required>
                        <label for="emails"> Member Emails </label>
                    </div>

                    <div class="text-center mt-1-half">
                        <button id="meetingCreateButton" type="submit" name="submit" class="btn btn-mdb mdb-2" value="create" formmethod="post"> Create <i class="fa fa-send ml-1"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <!--/.Content-->
    </div>
</div>

<div class="modal fade right" id="editMeetingForm" tabindex="-1" role="dialog" aria-labelledby="createMeetingForm" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header darken-3 white-text" style="background-color: #45526E">
                <h4 class="title">Edit Meeting&emsp;<i class="fa fa-pencil"></i></h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
            </div>

            <!--Body-->
            <form>
                <div class="modal-body mb-0">

                    <div class="md-form form-sm">
                        <input type="text" name="meeting_id" id="meeting_id" value="{{ request.form.meeting_id }}" class="form-control" readonly>
                    </div>

                    <div class="md-form form-sm">
                        <input type="text" id="update_name" name="name" value="{{ request.form.name }}" class="form-control">
                    </div>

                    <div class="md-form form-sm">
                        <input type="text" id="add_emails" name="add_emails" value="{{ request.form.add_emails }}" class="form-control">
                        <label for="add_emails"> New User Emails </label>
                    </div>

                    <div class="md-form form-sm">
                        <input type="text" id="del_emails" name="del_emails" value="{{ request.form.del_emails }}" class="form-control">
                        <label for="del_emails"> User's to remove </label>
                    </div>

                    <div class="text-center mt-1-half">
                        <button id="meetingEditButton" type="submit" name="submit" value="update" class="btn btn-mdb mdb-2" formmethod="post"> Update <i class="fa fa-send ml-1"></i></button>
                        <button id="meetingDeleteButton" type="submit" name="submit" value="delete" class="btn btn-danger mdb-2" formmethod="delete"> Delete Meeting <i class="fa fa-trash-o ml-1"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Contact form-->
<!--Modal: meeting info-->
<div class="modal fade right" id="meetingInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Meeting Information</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block js_import %}
<script>
    function meeting_modal_show(el) {

    }

    function set_meeting(id, name) {
        document.getElementById('meeting_id').value = id
        document.getElementById('update_name').value = name
    }
</script>
<script>
    $(".button-collapse").sideNav();
</script>
{% endblock %}