{% extends"helpers/dashboard.html" %} {% block title %} Quillio Meetings {% endblock %} {% block main %}


<h3 class="text-center">Meetings</h3>

<!-- Search Bar -->
<div class="container flex-center text-center">
    <div class="col"></div>
    <div class="col-sm-6">
        <form>
            <input class="form-control w-100" name="criteria" type="text" placeholder="Search" value="{{ request.form.criteria }}">
            <button type="submit" class="btn btn-default" name="submit" value="search" formmethod="post"> Search </button>
        </form>
    </div>
    <div class="col"></div>
</div>
<!-- Search Bar -->

{% for meeting_row in meetings | batch(3) %}
<div class="container">
    <br>
    <div class="row">
        {% for meeting in meeting_row %}
        <div class="card col-md-4">
            <div class=" view overlay hm-white-slight">
                <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" class="img-fluid" alt="">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <a class="btn-floating btn-action"><i class="fa fa-chevron-right"></i></a>
            <div class="card-body">
                <h4 class="card-title"> {{ meeting.name }}</h4>
                <hr>
                <p class="card-text">{{ meeting.description }}</p>
            </div>
            <div class="card-data">
                <ul>
                    <li><i class="fa fa-clock-o"></i> 05/10/2015</li>
                    <li><a href="#"><i class="fa fa-comments-o"></i>12</a></li>
                    <li><a href="#"><i class="fa fa-users"> </i>21</a></li>
                </ul>
            </div>
        </div>
        {% endfor %}
        <!-- </div> -->
    </div>
</div>{% endfor %}
</div>
<a class="btn-floating btn-lg btn-unique" style="position: fixed; right:35px; bottom:35px;" data-toggle="modal" data-target="#createMeetingForm"><i class="fa fa-plus"></i></a>
<!--Modal: Contact form-->
<div class="modal fade" id="createMeetingForm" tabindex="-1" role="dialog" aria-labelledby="createMeetingForm" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-pencil"></i>Create Meeting</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <!--Body-->
            <form>
                <div class="modal-body mb-0">
                    <div class="md-form form-sm">
                        <input type="text" id="name" name="name" value="{{ request.form.name }}" class="form-control" required>
                        <label for="name"> Meeting Name </label>
                    </div>

                    <div class="md-form form-sm">
                        <input type="text" id="emails" name="emails" value="{{ request.form.emails }}" class="form-control" required>
                        <label for="emails"> Member Emails </label>
                    </div>

                    <div class="text-center mt-1-half">
                        <button id="meetingCreateButton" type="submit" name="submit" class="btn btn-info mdb-2" value="create" formmethod="post"> Create <i class="fa fa-send ml-1"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Contact form-->
{% endblock %} {% block js_import %}
<script type="text/javascript" src="/static/js/quillio.js"></script>

<script>
    $(".button-collapse").sideNav();

</script>
{% endblock %}